
*.xml

*.properties

*.setup

*.txt

*.log

*.mark

workspace2/.metadata/.plugins/org.eclipse.ui.intro/introstate

*.ini

workspace2/JoinGit/.classpath

workspace2/JoinGit/.project

*.prefs

workspace2/RemoteSystemsTempFiles/.project

*.json

*.nrm

*.fnm

*.lock

*.frq

*.xmi

workspace2/.metadata/.plugins/org.eclipse.core.resources/.history/40/f0b82ef47fbc0016186bf361fad21464

*.index

workspace2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1

*.tii

*.fdx

*.snap

*.tis

*.gen

*.fdt

workspace2/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2

*.resources

workspace2/.metadata/.mylyn/.taskListIndex/segments_1

*.zip

*.prx

workspace2/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.dat
